{% extends 'base.html.twig' %}

{% block title %}List of Of specific Post!{% endblock %}

{% block body %}

    <h1> {{ post.title }} {{post.post_id}}  </h1>
    <h2> Category: {{post.name}} | Category id: {{post.category_id}} </h2>
    <img src="{{ '/uploads/' ~ post.image }}"/>

{% endblock %}
